body{
    background: url(../img/rojo.jpg);
}
#register-panel{
    background: white;
    margin-left: 32%;
    margin-top: 10%;
    width: 30%;
    height: 0px auto;
    padding: 30px;
    box-shadow: 5px black;
    border-radius: 5px;

}

#logo{
    font-family: Verdana, arial;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 80px;
    color: white;
    float: left;
    width: 200px;
    height: 70px;
    margin-top: -120px;
    margin-left: 20px;
    background: #235E3D;
    text-align: center;
    text-decoration: none;
}

#register-panel h4{
    float: inline-start;
    margin-left: 110px;
    background: #235E3D;
    width: 170px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

#usersignin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 155px;
    padding-top: 10px;
    margin-top: 20px;

}

#passsignin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 140px;
    margin-top: 20px;
    
}

#register-panel input{
    width: 80%;
    margin-left: 35px;
    margin-top: 20px;
    padding-bottom: 10px;

}

#submit{
    margin-top: 80px;
    background-color: #235E3D;
    width: 70px;
    height: 30px;
    border-style: none;
    
}

#username{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 120px;
    padding-top: 10px;
    margin-top: 20px;

}

#userdate{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 105px;
    padding-top: 10px;
    margin-top: 20px;

}